# ===========================
# MyOS Project .gitignore
# ===========================

# Object files
*.o

# Compiled kernel binary
kernel.bin

# ISO image
*.iso
*.img

# ISO build folders
iso/
boot/

# Editor / OS temporary files
*~
*.swp
*.bak
