# ===========================
# MyOS Project .gitignore
# ===========================

# Object files
*.o

# Compiled kernel binary
*.bin

# ISO image
*.iso
*.img

# ISO build folders
iso/
boot/

# Editor / OS temporary files
*~
*.swp
*.bak

# Others 
*.inc
dev_log.md
.gitignore
boot_ivt.asm
boot_ivt_int3_safe.asm
*.ld
